body {
  color: #81CFF2;
  background-color: #171D2D;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
}
strong {
  color: #2f799c;
  font-size: 30px;
}

strong:hover {
  color: #3493bf;
  font-size: 30px
}

.absolute {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  line-height: 50%;
}